<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>修改角色信息</title>
    <link rel="stylesheet" href="./Public/Admin/css/pintuer.css">
    <link rel="stylesheet" href="./Public/Admin/css/admin.css">
    <style>
        #msg{
            color: #FF0000;
        }
    </style>
</head>

<body>
<div class="container">
    <div class="line">
        <div class="xs6 xm4 xs3-move xm4-move">
            <br /><br />
            <div class="media media-y">
            </div>
            <br /><br />
            <form action="" method="post">
                <div class="panel">
                    <div class="panel-head"><strong>修改角色信息</strong></div>
                    <div class="panel-body" style="padding:30px;">
                        <div class="form-group">
                            <div class="field field-icon-right">
                                <label style="color: black;">角色名称：</label>
                                <input type="text" class="input" name="rolename"  placeholder="请输入角色名称" value='<?=$info['rolename']?>'/>
                                <span id='msg'></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="field field-icon-right">
                                <label style="color: black;">允许借书数：</label>
                                <input type="text" class="input" name="borrownums" placeholder="请输入允许借书数" value='<?=$info['borrownums']?>'>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="field field-icon-right">
                                <label style="color: black;">允许借书天数：</label>
                                <input type="text" class="input" name="borrowdays" placeholder="请输入允许借书天数" value='<?=$info['borrowdays']?>'>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="field field-icon-right">
                                <label style="color: black;">是否使用该角色：</label>
                                <input type="text" class="input" name="isopen" placeholder="是否使用该角色，1使用；0不使用" value='<?=$info['isopen']?>'>
                            </div>
                        </div>
                    </div>
                    <!--修改逻辑中，需要提供id，这里方式是通过这种方式获取。隐藏属性。-->
                    <input type="hidden" name="id" value=<?=$info['id']?>>
                    <div class="panel-foot text-center">
                        <input type="submit" class="button button-block bg-main text-big"  style="float:left;  margin-left: 25px;margin-right:10px;"  value="修改"/>
                        <input type="button"  class="button button-block bg-main text-big" value="返回" onClick="location.href='index.php?p=Admin&c=Role&a=list'" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>