<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>自助借阅机</title>
    <link rel="stylesheet" href="./Public/Admin/css/pintuer.css">
    <link rel="stylesheet" href="./Public/Admin/css/admin.css">
</head>

<body>
<div class="container">
    <div class="line">
        <div class="xs6 xm4 xs3-move xm4-move">
            <br /><br />
            <div class="media media-y">
            </div>
            <br /><br />
            <div class="panel"style="width: 550px;">
                <div class="panel-head" style="text-align: center;font-size: large"><strong>自助借阅机</strong></div>
                <div class="panel-body" style="padding:10px;">
                    <div style="padding:3px;"><b style="font-size: medium;color: #009900;">欢迎您使用本系统，借阅请扫码登录:</b></div>
                    <div class="form-group" style="margin-bottom:5px">
                        <div class="input" style="height: 150px;width: 150px;text-align:center; margin-left: 165px;margin-top: 15px">
                            <!--二维码-->
                            <img src="./Public/Admin/images/loginbarcode.png" width="110" height="110" style="text-align: center; margin-top: 12px"/><br />
                        </div>
                    </div>
                </div>
                <div class="panel-foot text-center">
                    <input type="button" class="button button-block bg-main text-big"  style="float:left; margin-left: 80px;margin-right:20px;width: 160px;color: yellow" value="感应区" onClick="location.href='#'"/>
                    <input type="button" value="还书口"  class="button button-block bg-main text-big" style="width: 160px;color: yellow" onClick="location.href='#'" />
                </div>
            </div>
            <div class="text-right text-small text-gray padding-top"></div>
        </div>
    </div>
</div>

</body>
</html>