<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
<head>
  <title>添加用户</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
</head>
<body>
<form method="post" action="">
  学号/职工号： <input type="text" name="sno"> <br />
  用户姓名： <input type="text" name="username"> <br />
  用户密码： <input type="password" name="pwd"> <br />
  角色ID： <input type="text" name="roleid"> <br />
  <input type="submit" value="提交">
</form>
</body>
</html>
